[submodule "modules/juce"]
	path = modules/juce
	url = https://github.com/juce-framework/JUCE
	branch = develop
[submodule "modules/vst2-sdk"]
	path = modules/vst2-sdk
	url = ssh://git@github.com/eiosisorg/vst2-sdk
	branch = master
